name: CI

on:
  push:
    branches: [ main, staging, trying ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always
  NO_STD_CHECK_TARGETS: thumbv6m-none-eabi thumbv8m.base-none-eabi riscv32i-unknown-none-elf
  NO_STD_TARGET: thumbv7em-none-eabi  # firmware uses atomics
  QEMU_TARGET: thumbv7m-none-eabi

jobs:
  test:
    strategy:
      matrix:
        rust:
          - stable
          - nightly
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.rust }}
        override: true
    - name: Install C libraries for tooling on ubuntu
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get update && sudo apt-get install libudev-dev libusb-1.0-0-dev
    - name: Install C libraries for tooling on macOS
      if: matrix.os == 'macOS-latest'
      run: brew install libusb
    - name: Check that all crates build
      run: RUSTFLAGS='--deny warnings' cargo check --all
      shell: bash
    - name: Run tests on Ubuntu/Windows
      if: matrix.os != 'macOS-latest'
      run: cargo test --workspace
    - name: Run tests on macOS
      # NOTE defmt does not build for macOS because its `cortex-m-rt` dependency doesn't
      # (see https://github.com/rust-embedded/cortex-m-rt/issues/74), so we cannot use
      # `cargo test --workspace` and have to build the test suites individually instead
      if: matrix.os == 'macOS-latest'
      run: cargo test -p defmt -p defmt-decoder -p defmt-parser -p defmt-macros

  no-std:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true
        target: ${{ env.NO_STD_TARGET }}
    - name: Install Rust targets
      run: rustup +stable target add ${{ env.NO_STD_TARGET }} ${{ env.NO_STD_CHECK_TARGETS }}
    - name: Build defmt for no_std targets
      run: |
        for target in $NO_STD_CHECK_TARGETS; do
          cargo check --target $target
        done
    - name: Build nRF52 examples
      working-directory: firmware/nrf52
      run: RUSTFLAGS='--deny warnings' cargo build --verbose --target ${{ env.NO_STD_TARGET }} --bins

  mdbook:
    strategy:
      matrix:
        rust:
          - stable
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.rust }}
        override: true
    - name: Setup mdBook
      uses: peaceiris/actions-mdbook@v1
      with:
        mdbook-version: latest
    - name: Build defmt
      run: cargo build
      # NOTE order of steps is important
    - name: Run book tests
      working-directory: book
      run: mdbook test -L ../target/debug -L ../target/debug/deps

  qemu:
    strategy:
      matrix:
        rust:
          - stable
          - nightly
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.rust }}
        override: true
        target: ${{ env.QEMU_TARGET }}
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install qemu
    - name: Build and Run QEMU tests
      working-directory: firmware/qemu
      run: RUSTFLAGS='--deny warnings' ./test.sh
